<header class="bg-gradient-to-l from-[rgba(255,89,23,1)] to-[rgba(250,120,20,1)] text-center text-bold">
    <div class="text-5xl text-center text-bold p-6 font-bold text-white">Conecta Obra</div>

    <nav class="mt-4">
        <ul class="flex justify-center space-x-6 text-white font-semibold">
            <li>
                <a routerLink="/guias" class="flex mb-4 text-2xl hover:text-blue-50 hover:cursor-pointer">Guias</a>
            </li>
            <li>
                <a routerLink="/suportes" class="flex mb-4 text-2xl hover:text-blue-50 hover:cursor-pointer">Suportes</a>
            </li>
            <li>
                <a routerLink="/spools" class="flex mb-4 text-2xl hover:text-blue-50 hover:cursor-pointer">Spools</a>
            </li>
            <li>
                <a routerLink="/clientes" class="flex mb-4 text-2xl hover:text-blue-50 hover:cursor-pointer">Clientes</a>
            </li>
            <li>
                <button class="flex mb-4 text-2xl hover:text-blue-50 hover:cursor-pointer" (click)="deslogar()" >Sair</button>
            </li>
        </ul>
    </nav>
</header>
<div class="m-10 flex flex-col gap-6 bg-gradient-to-r from-[rgba(255,235,223)] to-[rgba(250,240,235)] shadow-lg p-6 rounded-lg">
    <div>
        <h1 class="text-3xl text-center font-semibold p-5 text-gray-700">{{ titulo }}</h1>
        <router-outlet></router-outlet>
    </div>
</div>