<header class="bg-[rgba(255,89,23,1)] text-center text-bold">
    <div class="text-3xl text-center text-bold pt-3 font-bold text-white">Título</div>
    <div class="text-2xl text-white font-semibold p-5">Subtítulo</div>

    <nav class="mt-4">
        <ul class="flex justify-center space-x-6 text-white font-semibold">
            <li>
                <a  class="flex mb-4 hover:text-blue-100 hover:cursor-pointer" > Guias</a>
            </li>
            <li>
                <a  class="flex mb-4 hover:text-blue-100 hover:cursor-pointer"> Suportes</a>
            </li>
            <li>
                <a  class="flex mb-4 hover:text-blue-100 hover:cursor-pointer"> Spools</a>
            </li>
            <li>
                <a  class="flex mb-4 hover:text-blue-100 hover:cursor-pointer"> Clientes</a>
            </li>
        </ul>
    </nav>
</header>

<router-outlet></router-outlet>