<form (submit)="logar()">
    <div>
        <h1>Logar</h1>
    </div>
    <div>
        <div>
            <span *ngIf="usuarioErro == 2">Nome de usuário deve ser preenchido!</span>
            <span *ngIf="usuarioErro == 1">Nome de usuário deve ter ao menos 3 caracteres!</span>
            <label for="Nome">Nome:</label>
            <input name="nome" type="text">
        </div>
        <div>
            <span *ngIf="!senhaValida">Semha deve ser preenchida!</span>
            <label for="senha">Senha:</label>
            <input name="senha" type="password">
        </div>
        <div>
            <button type="submit">Logar</button>
        </div>
    </div>
</form>